body{
    background-color: black;
}

.navbar{
    background-color: #1A545D;
    color: white
}

.navbar-brand{
    font-weight: 900;
    font-size: x-large;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #9AE8B7;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
    
}

.nav-item {
    font-size: medium;
}

#about{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 10px;
    background-color: #272828;
    height: 775px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.brand-text{
    letter-spacing: 10px;
    padding: 15px;
    background-color: #1A545D;
    color: white;
    margin-right: 20px;
    writing-mode: sideways-lr;
    text-align: center;
    font-weight: 900;
    font-size: 250;
}

#about{
    color: white;
}

.content{
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
  
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* #1A545D #4E9A8D #153548 #9AE8B7 */