body{
    background-color: black;
}

.navbar{
    background-color: #1A545D;
}

.navbar .navbar-brand{
    font-weight: 900;
    font-size: x-large;
    color: white;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #4E9A8D;
    text-underline-offset: 10px;
}

.nav-link {
    position: relative;
    color: white;
}

.nav-item {
    font-size: medium;
}

/*Welcome*/

.welcome{
    background-color: white;
    background-image: url('https://i.pinimg.com/736x/bf/98/82/bf988223cfcf427df5ce19443523bdf6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin: 20px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#content1, #content2, #welcome-message, .welcome-btn{
    display: flex;
    justify-content: center;
}

#content1, #content2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#message1, #message2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.welcome-btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 26px;
    text-decoration: none;
    margin-top: 20px;
}

/*Subheading*/

.subheading{
    color: white;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#problem1, #problem2, #help1, #help3, #help2{
    display: flex;
    justify-content: center;
}

#problem1, #problem2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#help1, #help3, #help2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

/*Features*/

.features{
    color: white;
    background-color: #547d94;
    margin: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main{
    justify-content: center;
    width: 33.33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 70px;
}

/*Footer*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

/* #1A545D #4E9A8D #153548 #9AE8B7 */

/* LIGHT MODE STYLES */
body.light-mode {
    background-color: white;
    color:black;
}
  
body.light-mode .navbar {
    background-color: #7fcfdb;
}

body.light-mode .navbar .navbar-brand{
    color:black;
}
  
body.light-mode .navbar .nav-link {
    color: black;
}
    
body.light-mode .navbar .nav-link:hover {
    color: black;
}

/*Welcome*/

body.light-mode .welcome{
    background-color: white;
    background-image: url('https://i.pinimg.com/736x/bf/98/82/bf988223cfcf427df5ce19443523bdf6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    margin: 20px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body.light-mode .welcome-btn{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 26px;
    text-decoration: none;
    margin-top: 20px;
}

/*Subheading*/

body.light-mode .subheading{
    color: black;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
/* FOOTER */

body.light-mode footer{
    background-color: #f7f7f7;
}

body.light-mode .socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: #111;
    margin: 10px;
    border-radius: 50%;
}

body.light-mode .socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 0,9;
}

body.light-mode .socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
body.light-mode .socialIcons a:hover i{
    color: black;
    transition: 0.5s;
}

body.light-mode .footerNav ul li a{
    color:black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

body.light-mode .footerBottom{
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}
body.light-mode .footerBottom p{
    color: black;
}
 * {
    transition: background-color 0.8s ease, color 0.8s ease;
}