body{
    background-color: black;
}

.navbar{
    background-color: #1A545D;
}

.navbar .navbar-brand{
    font-weight: 900;
    font-size: x-large;
    color: white;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #4E9A8D;
    text-underline-offset: 10px;
}

.nav-link {
    position: relative;
    color: white;
}

.nav-item {
    font-size: medium;
}

/* images */

.container a {
    display: inline-block;
    width: 10%; 
    height: 100%; 
    text-decoration: none;
} 

.music-img{
    background-color: black;
    display: block;
    height: 700px;;
    padding: 60px;
    padding-left: 120px;
}

.container-genre-img{
    margin: 60px auto 100px auto;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container-genre-img img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all ease-in-out 0.5s;
    justify-content: center;
}
.container-genre-img img:hover{
    width: 45%;
}

.view {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* Genre Blocks */
.block {
    height: 200px;
    width: 400px;
    margin: 50px;

}

.block:nth-child(1) {
    background: #9AE8B7;
    border-radius: 10px;
}

.block:nth-child(2) {
    background: #4E9A8D;
    border-radius: 10px;
}

.block:nth-child(3) {
    background: #153548;
    border-radius: 10px;
}

.block:nth-child(4) {
    background: #1A545D;
    border-radius: 10px;
}

.block:nth-child(5) {
    background: #153548;
    border-radius: 10px;
}

.block:nth-child(6) {
    background: #9AE8B7;
    border-radius: 10px;
}

.block:nth-child(7) {
    background: #4E9A8D;
    border-radius: 10px;
}

.block:nth-child(8) {
    background: #9AE8B7;
    border-radius: 10px;
}

.block:nth-child(9) {
    background: #1A545D;
    border-radius: 10px;
}

@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; 
    text-align: center;

}

.genre-link{
    color: black;
    line-height: 190px;
    font-weight: 900;
    font-size: x-large;
    text-decoration: none;
}

.genre-link:hover, .genre-link:active {
    text-decoration: underline;
    color: black;
}

/*Footer*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #111;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

/* #1A545D #4E9A8D #153548 #9AE8B7 */

/* LIGHT MODE STYLES */
  
body.light-mode {
    background-color: white;
    color:black;
}

/* NAVBAR */
  
body.light-mode .navbar {
    background-color: #7fcfdb;
}

body.light-mode .navbar .navbar-brand{
    color:black;
}
  
body.light-mode .navbar .nav-link {
    color: black;
}
    
body.light-mode .navbar .nav-link:hover {
    color: black;
}

/* GENRE BLOCKS */
  
body.light-mode .genre-link {
    color: black;
}
  
body.light-mode .genre-link:hover {
    color: #7fcfdb;
}
  
body.light-mode .block:nth-child(1) {
    background: #c9f3d9;
    border-radius: 10px;
}

body.light-mode .block:nth-child(2) {
    background: #84c1b6;
    border-radius: 10px;
}

body.light-mode .block:nth-child(3) {
    background: #84bbdb;
    border-radius: 10px;
}

body.light-mode .block:nth-child(4) {
    background: #7fcfdb;
    border-radius: 10px;
}

body.light-mode .block:nth-child(5) {
    background: #84bbdb;
    border-radius: 10px;
}

body.light-mode .block:nth-child(6) {
    background: #c9f3d9;
    border-radius: 10px;
}

body.light-mode .block:nth-child(7) {
    background: #84c1b6;
    border-radius: 10px;
}

body.light-mode .block:nth-child(8) {
    background: #c9f3d9;
    border-radius: 10px;
}

body.light-mode .block:nth-child(9) {
    background: #7fcfdb;
    border-radius: 10px;
}

/* FOOTER */
 
body.light-mode footer{
    background-color: white;
}

body.light-mode .socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: #111;
    margin: 10px;
    border-radius: 50%;
}

body.light-mode .socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 0,9;
}

body.light-mode .socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
body.light-mode .socialIcons a:hover i{
    color: black;
    transition: 0.5s;
}

body.light-mode .footerNav ul li a{
    color:black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

body.light-mode .footerBottom{
    background-color: white;
    padding: 20px;
    text-align: center;
}
body.light-mode .footerBottom p{
    color: black;
}

body.light-mode footer{
    background-color: white;
}

body.light-mode .socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: #111;
    margin: 10px;
    border-radius: 50%;
}

body.light-mode .socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 0,9;
}

body.light-mode .socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
body.light-mode .socialIcons a:hover i{
    color: black;
    transition: 0.5s;
}

body.light-mode .footerNav ul li a{
    color:black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

body.light-mode .footerBottom{
    background-color: white;
    padding: 20px;
    text-align: center;
}
body.light-mode .footerBottom p{
    color: black;
}

 * {
    transition: background-color 0.8s ease, color 0.8s ease;
}

