body{
    background-color: black;
}

.navbar{
    background-color: #1A545D;
}

.navbar-brand{
    font-weight: 900;
    font-size: x-large;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #9AE8B7;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
    
}

.nav-item {
    font-size: medium;
}
.container a {
    display: inline-block;
    width: 10%; 
    height: 100%; 
    text-decoration: none;
} 

.music-img{
    background-color: black;
    display: block;
    height: 700px;;
    padding: 60px;
    padding-left: 120px;
}

.container-genre-img{
    margin: 60px 200px 100px 180px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container-genre-img img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all ease-in-out 0.5s;
    justify-content: center;
}
.container-genre-img img:hover{
    width: 45%;
}

.view {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
  
.block {
    height: 200px;
    width: 400px;
    margin: 50px;

}

.block:nth-child(1) {
    background: #9AE8B7;
    border-radius: 10px;
}

.block:nth-child(2) {
    background: #4E9A8D;
    border-radius: 10px;
}

.block:nth-child(3) {
    background: #153548;
    border-radius: 10px;
}

.block:nth-child(4) {
    background: #1A545D;
    border-radius: 10px;
}

.block:nth-child(5) {
    background: #153548;
    border-radius: 10px;
}

.block:nth-child(6) {
    background: #9AE8B7;
    border-radius: 10px;
}

.block:nth-child(7) {
    background: #4E9A8D;
    border-radius: 10px;
}

.block:nth-child(8) {
    background: #9AE8B7;
    border-radius: 10px;
}

.block:nth-child(9) {
    background: #1A545D;
    border-radius: 10px;
}

@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; 
    text-align: center;

}

.genre-link{
    color: black;
    line-height: 190px;
    font-weight: 900;
    font-size: x-large;
    text-decoration: none;
}

.genre-link:hover, .genre-link:active {
    text-decoration: underline;
    color: black;
}

.about{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 10px;
    background-color: #272828;
    height: 775px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.brand-text{
    letter-spacing: 10px;
    padding: 15px;
    background-color: #1A545D;
    color: white;
    margin-right: 20px;
    writing-mode: sideways-lr;
    text-align: center;
    font-weight: 900;
    font-size: 250;
}

.about{
    color: white;
}

.content{
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
  
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* #1A545D #4E9A8D #153548 #9AE8B7 */